.navLink{
  text-decoration: none;
  border: 2px solid rgb(255, 0, 0);
  color: black;
  padding: 5px;
}

.App-header{
  text-align: center;
  margin: 20px;
}

.activeNavLink{
  border: 5px solid rgb(14, 160, 9);
}
